<div class="w-full h-full flex">
    <div *ngIf="verMenu" class="h-full" style="width: 10%;">
        <p>Fiaox Market</p>
        <p-panelMenu [model]="items" styleClass="flex flex-column h-full gap-4">
            <ng-template pTemplate="item" let-item>
                <ng-container *ngIf="item.route; else urlRef">
                    <a [routerLink]="item.route" class="flex align-items-center 
                    cursor-pointer text-color px-3 py-2">
                        <span [class]="item.icon"></span>
                        <span class="ml-2 text-color">{{ item.label }}</span>
                    </a>
                </ng-container>
                <ng-template #urlRef>
                    <a *ngIf="item.url; else noLink" [href]="item.url" class="flex align-items-center 
                    cursor-pointer text-color px-3 py-2">
                        <span [class]="item.icon"></span>
                        <span class="ml-2">{{ item.label }}</span>
                    </a>
                    <ng-template #noLink>
                        <span class="flex align-items-center cursor-pointer text-color px-3 py-2">
                            <span [class]="item.icon"></span>
                            <span class="ml-2">{{ item.label }}</span>
                            <i *ngIf="item.items" class="pi pi-angle-down text-primary ml-auto"></i>
                        </span>
                    </ng-template>
                </ng-template>
            </ng-template>
        </p-panelMenu>
    </div>
    <div class="flex-1 h-full">
        <div>
            <p-menubar [model]="itemsMenuBar">
                <ng-template pTemplate="item" let-item let-root="root">
                    <a pRipple class="flex align-items-center p-menuitem-link">
                        <span [class]="item.icon"></span>
                    </a>
                </ng-template>
                <ng-template pTemplate="end">
                    <div class="flex align-items-center gap-2">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle" />
                    </div>
                </ng-template>
            </p-menubar>
        </div>
        <div class="p-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>