<!-- register-cliente.component.html -->
<div class="flex justify-content-center align-content-center px-4">
  <div
    class="surface-0 border-round shadow-2 py-4 px-6 w-full md:w-10/12 lg:w-8/12"
    style="max-width:85vw;"
  >

    <!-- Título general -->
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-orange-500 mb-1">FiaoX</h2>
      <p class="text-sm text-gray-600">Registro de Cliente</p>
    </div>

    <!-- Barra de pasos -->
    <p-steps [model]="items" [activeIndex]="activeIndex" readOnly="true" class="mb-6"></p-steps>

    <div [ngSwitch]="activeIndex">

      <!-- Paso 1: Información personal -->
<form [formGroup]="personalForm" class="p-fluid p-formgrid p-grid gap-3 p-4">
  <!-- SECCION NOMBRES Y APELLIDOS  -->
   <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label for="nombres">Nombres</label>
      <input id="nombres" pInputText formControlName="nombres" />
    </div>
    <div class="field col-12 md:col-6">
      <label for="apellidos">Apellidos</label>
      <input id="apellidos" pInputText formControlName="apellidos" />
    </div>
    <div class="field col-12 md:col-6">
      <label for="telefono">Telefono</label>
       <input
         #phoneInput
         id="telefono"
         type="tel"
         dir="ltr"
         [class.p-inputtext]="true"
         formControlName="telefono"
         placeholder="234 567 890"
       />
     </div>
     <div class="field col-12 md:col-6">
       <label for="fechaNacimiento">Fecha de Nacimiento</label>
       <p-calendar
         inputId="fechaNacimiento"
         formControlName="fechaNacimiento"
         [showIcon]="true"
         dateFormat="yy-mm-dd">
       </p-calendar>
     </div>
     <!-- DIRECCION -->
     <div class="field col-12">
        <label for="direccion">Dirección</label>
        <input id="direccion" pInputText formControlName="direccion" />
     </div>

     <!-- PAIS -->
      <div class="field col-12 md:col-4">
        <label for="pais">País</label>
        <p-dropdown
          inputId="pais"
          [options]="listPaises"
          optionLabel="nombre"
          optionValue="id"
          formControlName="pais"
          [filter]="true"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
     </div>

     <!-- PROVINCIA -->
     <div class="field col-12 md:col-4">
        <label for="provincia">Provincia / Estado</label>
        <p-dropdown
          inputId="provincia"
          [options]="filteredProvincias"
          optionLabel="nombre"
          optionValue="id"
          formControlName="provincia"
          [filter]="true"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
     </div>
      <!-- CIUDAD -->
      <div class="field col-12 md:col-4">
        <label for="ciudad">Ciudad / Municipio</label>
        <p-dropdown
          inputId="ciudad"
          [options]="filteredCiudades"
          optionLabel="nombre"
          optionValue="id"
          formControlName="ciudad"
          [filter]="true"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
      </div>

      <!-- OCUPACION -->
      <div class="field col-12 md:col-6">
        <label for="ocupacion">Ocupación</label>
        <p-dropdown
        inputId="ocupacion"
        [options]="listOcupaciones"
        optionLabel="descripcion"
        optionValue="id"
        formControlName="ocupacion"
        [filter]="true"
        [showClear]="true"
        appendTo="body">
        </p-dropdown>
      </div>

      <!-- GENERO -->
      <div class="field col-12 md:col-6">
        <label for="genero">Género</label>
        <p-dropdown
        inputId="genero"
        [options]="listGeneros"
        optionLabel="descripcion"
        optionValue="id"
        formControlName="genero"
        [showClear]="true"
        appendTo="body">
      </p-dropdown>
      </div>
  </div>
  <!-- Botones -->
  <div class="p-col-12 flex justify-content-between mt-3">
    <button pButton label="Atrás" class="p-button-outlined p-button-sm" (click)="prev()" [disabled]="activeIndex === 0"></button>
    <button pButton label="Siguiente" class="p-button-warning p-button-sm" (click)="next()"></button>
  </div>
</form>


      <!-- Paso 2: Documentos -->
      <div *ngSwitchCase="1">
        <h3 class="text-lg font-semibold text-gray-800 mb-3">Documentos</h3>
        <form [formGroup]="docsForm" class="p-fluid p-formgrid p-grid gap-2 p-4">
          <div class="p-field p-col-12">
            <label>Foto del rostro (selfie) *</label>
            <p-fileUpload
              mode="basic"
              name="selfie"
              accept="image/*"
              maxFileSize="1000000"
              chooseLabel="Seleccionar selfie"
              customUpload="true"
              (onSelect)="onSelfieSelect($event)"
            ></p-fileUpload>
          </div>
          <div class="p-field p-col-12">
            <label>Foto reverso del DNI *</label>
            <p-fileUpload
              mode="basic"
              name="dniReverso"
              accept="image/*"
              maxFileSize="1000000"
              chooseLabel="Seleccionar reverso"
              customUpload="true"
              (onSelect)="onDniReversoSelect($event)"
            ></p-fileUpload>
          </div>
          <div class="p-field p-col-12 flex justify-content-between mt-4">
            <button pButton label="Atrás" class="p-button-outlined p-button-sm" (click)="prev()"></button>
            <button pButton label="Siguiente" class="p-button-warning p-button-sm" (click)="next()"></button>
          </div>
        </form>
      </div>

      <!-- Paso 3: Credenciales -->
      <form
        *ngSwitchCase="2"
        [formGroup]="credentialsForm"
        class="p-fluid p-formgrid p-grid gap-2 p-4"
      >
        <div class="p-field p-col-12">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-envelope"></i>
            <input
              pInputText
              placeholder="Correo Electrónico"
              formControlName="email"
              class="w-full"
            />
          </span>
        </div>
        <div class="p-field p-col-12">
          <p-password
            formControlName="password"
            [feedback]="false"
            placeholder="Contraseña"
            toggleMask="true"
            inputClass="w-full"
          >
            <ng-template pTemplate="lefticon">
              <i class="pi pi-lock"></i>
            </ng-template>
          </p-password>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>Nombre Contacto Alternativo</label>
          <input pInputText formControlName="contactoNombre" class="w-full" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>Teléfono Contacto Alternativo</label>
          <input pInputText formControlName="contactoTelefono" class="w-full" />
        </div>
        <div class="p-field p-col-12 flex justify-content-between mt-4">
          <button pButton label="Atrás" class="p-button-outlined p-button-sm" (click)="prev()"></button>
          <button pButton label="Siguiente" class="p-button-warning p-button-sm" (click)="next()"></button>
        </div>
      </form>

      <!-- Paso 4: Confirmación -->
      <div *ngSwitchCase="3" class="p-4">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Confirmación</h3>
        <p class="mb-4">Revisa cuidadosamente la información ingresada.</p>
        <div class="p-fluid p-formgrid p-grid gap-2">
          <div class="p-col-12 p-md-6">
            <p><strong>Nombres:</strong> {{ personalForm.value.nombres }}</p>
            <p><strong>Teléfono:</strong> {{ personalForm.value.telefono }}</p>
            <p>
              <strong>Fecha de Nacimiento:</strong>
              {{ personalForm.value.fechaNacimiento | date }}
            </p>
            <p><strong>Correo Electrónico:</strong> {{ credentialsForm.value.email }}</p>
            <p>
              <strong>Teléfono de Contacto Alternativo:</strong>
              {{ credentialsForm.value.contactoTelefono }}
            </p>
          </div>
          <div class="p-col-12 p-md-6">
            <p><strong>Apellidos:</strong> {{ personalForm.value.apellidos }}</p>
            <p><strong>Dirección:</strong> {{ personalForm.value.direccion }}</p>
            <p><strong>Ocupación:</strong> {{ personalForm.value.ocupacion }}</p>
            <p>
              <strong>Contacto Alternativo:</strong>
              {{ credentialsForm.value.contactoNombre }}
            </p>
          </div>
        </div>
        <div class="flex justify-content-between mt-6">
          <button pButton label="Atrás" class="p-button-outlined p-button-sm" (click)="prev()"></button>
          <button pButton label="Finalizar Registro" class="p-button-warning p-button-sm" (click)="finish()"></button>
        </div>
      </div>

    </div>
  </div>
</div>
