<p-toast />
<div class="flex justify-content-center align-content-center px-4">
  <div
    class="surface-0 border-round shadow-2 py-4 px-6 w-full md:w-10/12 lg:w-8/12"
    style="max-width: 85vw"
  >
    <!-- Título general -->
    <div class="text-center mb-6">
      <a routerLink="/" class="inline-block">
        <img
          *ngIf="logoUrl; else defaultLogo"
          [src]="logoUrl"
          alt="Logo"
          [style.height.px]="32"
          style="width: auto; display: block; margin: 0 auto"
        />
      </a>

      <ng-template #defaultLogo>
        <h2 class="text-xl font-bold text-orange-500 mb-1">FiaoX</h2>
      </ng-template>
      <p class="text-sm text-gray-600">Registro de Cliente</p>
    </div>

    <!-- Barra de pasos -->
    <p-steps
      [model]="items"
      [activeIndex]="activeIndex"
      readOnly="true"
      class="mb-6"
    ></p-steps>

    <div [ngSwitch]="activeIndex">
      <!-- Paso 1: Información personal -->
      <form
        [formGroup]="personalForm"
        class="p-fluid p-formgrid p-grid gap-3 p-4"
        *ngSwitchCase="0"
      >
        <!-- SECCION NOMBRES Y APELLIDOS  -->
        <div class="formgrid grid">
          <div class="field col-12 md:col-6">
            <label class="font-bold" for="nombres">Nombres</label>
            <input id="nombres" pInputText formControlName="nombres" />
          </div>
          <div class="field col-12 md:col-6">
            <label class="font-bold" for="apellidos">Apellidos</label>
            <input id="apellidos" pInputText formControlName="apellidos" />
          </div>
          <div class="field col-12 md:col-6">
            <label class="font-bold" for="telefono">Telefono</label>
            <input
              #phoneInput
              id="telefono"
              type="tel"
              dir="ltr"
              [class.p-inputtext]="true"
              formControlName="telefono"
              placeholder="234 567 890"
            />
          </div>
          <div class="field col-12 md:col-6">
            <label class="font-bold" for="fechaNacimiento"
              >Fecha de Nacimiento</label
            >
            <p-calendar
              inputId="fechaNacimiento"
              formControlName="fechaNacimiento"
              [iconDisplay]="'input'"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
            >
            </p-calendar>
          </div>
          <!-- DIRECCION -->
          <div class="field col-12">
            <label class="font-bold" for="direccion">Dirección</label>
            <input id="direccion" pInputText formControlName="direccion" />
          </div>

          <!-- PAIS -->
          <div class="field col-12 md:col-4">
            <label class="font-bold" for="pais">País</label>
            <p-dropdown
              formControlName="pais"
              [options]="listPaises"
              optionLabel="desc"
              optionValue="cod"
              placeholder="Seleccione país"
            ></p-dropdown>
          </div>

          <!-- PROVINCIA -->
          <div class="field col-12 md:col-4">
            <label class="font-bold" for="provincia">Provincia / Estado</label>
            <p-dropdown
              formControlName="provincia"
              [options]="filteredProvincias"
              optionLabel="desc"
              optionValue="cod"
              placeholder="Seleccione provincia/estado"
            ></p-dropdown>
          </div>
          <!-- CIUDAD -->
          <div class="field col-12 md:col-4">
            <label class="font-bold" for="ciudad">Ciudad / Municipio</label>
            <p-dropdown
              formControlName="ciudad"
              [options]="filteredMunicipios"
              optionLabel="desc"
              optionValue="cod"
              placeholder="Seleccione ciudad/municipio"
            ></p-dropdown>
          </div>

          <!-- OCUPACION -->
          <div class="field col-12 md:col-6">
            <label class="font-bold" for="ocupacion">Ocupación</label>
            <p-dropdown
              [options]="listOcupaciones"
              optionLabel="desc"
              optionValue="cod"
              formControlName="ocupacion"
              [filter]="true"
              [showClear]="true"
              appendTo="body"
            >
            </p-dropdown>
          </div>

          <!-- GENERO -->
          <div class="field col-12 md:col-6">
            <label class="font-bold" for="genero">Género</label>
            <p-dropdown
              [options]="listGeneros"
              optionLabel="desc"
              optionValue="cod"
              formControlName="genero"
              [showClear]="true"
              appendTo="body"
            >
            </p-dropdown>
          </div>
        </div>
        <!-- Botones -->
        <div class="p-col-12 flex justify-content-between mt-3 gap-4">
          <button
            pButton
            label="Atrás"
            [outlined]="true"
            severity="secondary"
            (click)="prev()"
            [disabled]="activeIndex === 0"
          ></button>
          <button
            pButton
            label="Siguiente"
            class="p-button-warning p-button-sm"
            (click)="next()"
          ></button>
        </div>
      </form>

      <!-- Paso 2: Documentos -->
      <div *ngSwitchCase="1">
        <!-- <h3 class="text-lg font-semibold text-gray-800 mb-3">Documentos</h3> -->
        <form
          [formGroup]="docsForm"
          class="p-fluid p-formgrid p-grid gap-2 p-4"
        >
          <div class="flex flex-column gap-4">
            <div class="p-field p-col-12">
              <p-panel>
                <ng-template pTemplate="header" style="display: none">
                </ng-template>
                <div class="font-bold pb-3">Foto del rostro (selfie)</div>

                <div class="pb-2">
                  <p-fileUpload
                    mode="basic"
                    [auto]="false"
                    [customUpload]="true"
                    [showUploadButton]="false"
                    [showCancelButton]="false"
                    name="selfie"
                    accept="image/*"
                    maxFileSize="1000000"
                    class="textoNegro"
                    styleClass="border-dashed w-full surface-100 border-500"
                    chooseLabel="Seleccionar selfie"
                    (onSelect)="onSelfieSelect($event)"
                  >
                  </p-fileUpload>
                </div>

                <div class="text-sm">Solo se aceptan imágenes</div>
              </p-panel>
            </div>
            <div class="p-field p-col-12">
              <p-panel>
                <ng-template pTemplate="header" style="display: none">
                </ng-template>
                <div class="font-bold pb-3">Foto reverso del DNI</div>
                <div class="pb-2">
                  <p-fileUpload
                    mode="basic"
                    [auto]="false"
                    [customUpload]="true"
                    [showUploadButton]="false"
                    [showCancelButton]="false"
                    name="dniReverso"
                    accept="image/*"
                    maxFileSize="1000000"
                    class="textoNegro"
                    styleClass="border-dashed w-full surface-100 border-500"
                    chooseLabel="Seleccionar reverso"
                    (onSelect)="onDniReversoSelect($event)"
                  >
                  </p-fileUpload>
                </div>
                <div class="text-sm">Solo se aceptan imágenes</div>
              </p-panel>
            </div>
          </div>

          <div class="p-field p-col-12 flex justify-content-between mt-4 gap-4">
            <button
              pButton
              label="Atrás"
              [outlined]="true"
              severity="secondary"
              (click)="prev()"
            ></button>
            <button
              pButton
              label="Siguiente"
              class="p-button-warning p-button-sm"
              (click)="next()"
            ></button>
          </div>
        </form>
      </div>

      <!-- Paso 3: Credenciales -->
      <form
        *ngSwitchCase="2"
        [formGroup]="credentialsForm"
        class="p-fluid p-formgrid p-grid gap-2 p-4"
      >
        <div class="flex flex-column gap-4 pb-3">
          <div class="font-bold text-lg">Credenciales de Acceso</div>
          <div class="flex flex-column pt-4 gap-4">
            <div class="p-field p-col-12 flex flex-column gap-3">
              <label for="nombres">Correo Electrónico</label>
              <span class="p-input-icon-left w-full">
                <i class="pi pi-envelope"></i>
                <input pInputText formControlName="email" class="w-full" />
              </span>
            </div>
            <div class="p-field p-col-12 flex flex-column gap-3">
              <label for="nombres">Contraseña</label>
              <p-password
                formControlName="password"
                [feedback]="false"
                toggleMask="true"
                inputClass="w-full"
              >
                <ng-template pTemplate="lefticon">
                  <i class="pi pi-lock"></i>
                </ng-template>
              </p-password>
            </div>
          </div>
        </div>
        <p-divider />
        <div class="flex flex-column gap-4 pb-3">
          <div class="font-bold text-lg">Contacto Alternativo</div>
          <div class="flex flex-column pt-4 gap-4">
            <div class="p-field p-col-12 flex flex-column gap-3">
              <label>Nombre Contacto Alternativo</label>
              <input
                pInputText
                formControlName="contactoNombre"
                class="w-full"
              />
            </div>
            <div class="p-field p-col-12 flex flex-column gap-3">
              <label>Teléfono Contacto Alternativo</label>
              <span class="p-input-icon-left w-full">
                <i class="pi pi-plus"></i>
                <input
                  pInputText
                  type="text"
                  formControlName="contactoTelefono"
                  class="w-full"
                />
              </span>
            </div>
          </div>
        </div>

        <div class="p-field p-col-12 flex justify-content-between mt-4 gap-4">
          <button
            pButton
            label="Atrás"
            [outlined]="true"
            severity="secondary"
            (click)="prev()"
          ></button>
          <button
            pButton
            label="Siguiente"
            class="p-button-warning p-button-sm"
            (click)="next()"
          ></button>
        </div>
      </form>

      <!-- Paso 4: Confirmación -->
      <div *ngSwitchCase="3" class="p-4">
        <p-card>
          <div class="flex flex-column w-full">
            <div class="flex flex-column w-full gap-2">
              <div class="font-bold text-5xl flex justify-content-center">
                Confirma tus datos antes de enviar
              </div>
              <div class="text-xl flex justify-content-center text-500">
                Revisa cuidadosamente la información ingresada.
              </div>
            </div>
            <div class="p-fluid p-formgrid p-grid gap-2 flex w-full p-4">
              <div class="p-col-12 p-md-6 w-6">
                <p class="text-500 text-base"><strong>Nombres:</strong></p>
                <p class="text-700 text-base">
                  <strong>{{ personalForm.value.nombres }}</strong>
                </p>
                <p class="text-500 text-base"><strong>Teléfono:</strong></p>
                <p class="text-700 text-base">
                  <strong>{{ personalForm.value.telefono }}</strong>
                </p>
                <p class="text-500 text-base">
                  <strong>Fecha de Nacimiento:</strong>
                </p>
                <p class="text-700 text-base">
                  <strong>{{
                    personalForm.value.fechaNacimiento | date
                  }}</strong>
                </p>
                <p class="text-500 text-base">
                  <strong>Correo Electrónico:</strong>
                </p>
                <p class="text-700 text-base">
                  <strong>{{ credentialsForm.value.email }}</strong>
                </p>
                <p class="text-500 text-base">
                  <strong>Teléfono de Contacto Alternativo:</strong>
                </p>
                <p class="text-700 text-base">
                  <strong>{{ credentialsForm.value.contactoTelefono }}</strong>
                </p>
              </div>
              <div class="p-col-12 p-md-6 w-6">
                <p class="text-500 text-base"><strong>Apellidos:</strong></p>
                <p class="text-700 text-base">
                  <strong>{{ personalForm.value.apellidos }}</strong>
                </p>
                <p class="text-500 text-base"><strong>Dirección:</strong></p>
                <p class="text-700 text-base">
                  <strong>{{ personalForm.value.direccion }}</strong>
                </p>
                <p class="text-500 text-base"><strong>Ocupación:</strong></p>
                <p class="text-700 text-base">
                  <strong>{{ personalForm.value.ocupacion }}</strong>
                </p>
                <p class="text-500 text-base"><strong>Contraseña:</strong></p>
                <p class="text-700 text-base">
                  <strong>{{ credentialsForm.value.password }}</strong>
                </p>
                <p class="text-500 text-base">
                  <strong>Contacto Alternativo:</strong>
                </p>
                <p class="text-700 text-base">
                  <strong>{{ credentialsForm.value.contactoNombre }}</strong>
                </p>
              </div>
            </div>
          </div>
        </p-card>

        <div class="p-field p-col-12 flex justify-content-between mt-4 gap-4">
          <button
            pButton
            label="Atrás"
            [outlined]="true"
            severity="secondary"
            class="w-full"
            (click)="prev()"
          ></button>
          <button
            pButton
            label="Finalizar Registro"
            class="p-button-warning p-button-sm w-full"
            (click)="finish()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '75rem' }">
  <div class="flex flex-column gap-3">
    <div class="flex justify-content-center text-base">
      Estimado Cliente<b>&nbsp;{{ cliente }}</b
      >, sus datos se registraron correctamente, siendo su<b
        >&nbsp;Social Security</b
      >:
    </div>
    <div class="flex justify-content-center lign-items-center gap-3 mb-3">
      <form [formGroup]="socialsecurity" class="flex gap-4">
        <input
          pInputText
          id="socialsecurity"
          formControlName="socialsecurity"
          [readOnly]="true"
        />
        <p-button
          (onClick)="copy()"
          label="Copiar"
          severity="secondary"
          [text]="true"
        />
      </form>
    </div>
    <div class="flex justify-content-center text-xs">
      Gracias por ser parte de<strong> FiaoX.</strong>
    </div>
    <div class="p-field p-col-12 flex justify-content-between mt-4 gap-4">
      <button
        pButton
        label="Iniciar Sesión"
        class="p-button-warning p-button-sm w-full"
        [routerLink]="'/login'"
      ></button>
    </div>
  </div>
</p-dialog>
