<div class="flex flex-col md:flex-row h-screen w-full">
  <!-- Lado izquierdo: Reset -->
  <div
    class="flex flex-column justify-content-center align-items-center p-6 md:px-10 w-full md:w-6 bg-white h-full"
  >
    <h2 class="text-3xl text-orange-500 font-bold mb-2">
      Restablecer Contraseña
    </h2>
    <p class="text-gray-600 mb-4 text-center">Ingresa tu nueva contraseña</p>

    <form
      [formGroup]="resetpassform"
      (ngSubmit)="resetPass()"
      class="w-[80%] md:w-[60%] lg:w-[40%] mx-auto space-y-4"
    >
      <div class="field">
        <label class="text-sm font-bold block mb-1">Nueva Contraseña</label>
        <p-password
          formControlName="newpass"
          [feedback]="true"
          [toggleMask]="true"
          styleClass="w-full"
        ></p-password>
        <small
          class="text-red-500"
          *ngIf="f.newpass.touched && f.newpass.errors?.['required']"
          >Requerido</small
        >
        <small
          class="text-red-500"
          *ngIf="f.newpass.touched && f.newpass.errors?.['minlength']"
          >Mínimo 8 caracteres</small
        >
      </div>

      <div class="field">
        <label class="text-sm font-bold block mb-1">Repetir Contraseña</label>
        <p-password
          formControlName="repeatpass"
          [feedback]="false"
          [toggleMask]="true"
          styleClass="w-full"
        ></p-password>
        <small
          class="text-red-500"
          *ngIf="resetpassform.errors?.['notMatching'] && f.repeatpass.touched"
        >
          Las contraseñas no coinciden
        </small>
      </div>

      <div *ngIf="serverError" class="text-red-600 text-sm">
        {{ serverError }}
      </div>
      <div *ngIf="serverOk" class="text-green-600 text-sm">{{ serverOk }}</div>

      <button
        pButton
        type="submit"
        [label]="loading ? 'Guardando...' : 'Guardar nueva contraseña'"
        [severity]="'warning'"
        class="w-full text-sm"
        [disabled]="loading || resetpassform.invalid"
      ></button>
    </form>
  </div>

  <!-- Lado derecho -->
  <div
    class="hidden md:flex flex-column justify-content-center align-items-center p-6 md:px-10 w-full md:w-6 bg-orange-50 text-center h-full"
  >
    <img
      src="../../../assets/landing.png"
      alt="Ilustración"
      class="mb-4"
      style="max-width: 220px"
    />
    <h3 class="text-xl font-bold text-gray-900 mb-2">
      ¡Únete y potencia tu negocio!
    </h3>
    <p class="text-sm text-gray-700 mb-4">
      Conéctate con clientes o proveedores de forma rápida y segura.
    </p>
    <h4 class="text-orange-500 font-semibold text-base mb-1">
      ¡Bienvenido a FiaoX!
    </h4>
    <p class="text-sm text-gray-600">
      Ingresa y descubre nuevas oportunidades para tu negocio o tus compras.
    </p>
  </div>
</div>
