<div class="flex flex-column gap-4">
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex justify-content-between">
                <div class="p-3 font-bold text-lg">
                    Características
                </div>
                <div class="p-3 font-bold text-sm">
                    <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" />
                </div>
            </div>
        </ng-template>
        <p-table [value]="caracteristicasTable" class="w-full" dataKey="id" editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-sm">ID</th>
                    <th class="text-sm">Ícono</th>
                    <th class="text-sm">Título</th>
                    <th class="text-sm">Descripción</th>
                    <th class="text-sm">Acciones</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.icono}}</td>
                    <td>{{product.titulo}}</td>
                    <td>{{product.descripcion}}</td>
                    <td>
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (onClick)="onEditPoppupC()" />
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (onClick)="onDeleteRowC()" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex justify-content-between">
                <div class="p-3 font-bold text-lg">
                    Preguntas Frecuentes
                </div>
                <div class="p-3 font-bold text-sm">
                    <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" />
                </div>
            </div>
        </ng-template>
        <p-table [value]="preguntasTable" class="w-full">
            <ng-template pTemplate="header" class="text-xs">
                <tr>
                    <th class="text-sm">ID</th>
                    <th class="text-sm">Pregunta</th>
                    <th class="text-sm">Respuesta</th>
                    <th class="text-sm">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.pregunta}}</td>
                    <td>{{product.respuesta}}</td>
                    <td>
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (onClick)="onEditPoppupP()" />
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (onClick)="onDeleteRowP()" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>