/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.css';
@import "primeicons/primeicons.css";
@import "intl-tel-input/build/css/intlTelInput.css";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.iti { width: 100%; }
.iti input { width: 100%; }
