<p-accordion [activeIndex]="0">
    <p-accordionTab header="Contenido Principal">
        <form [formGroup]="piepaginaform" class="block p-fluid p-formgrid p-grid gap-2 p-4">
            <div class="field">
                <label class="text-sm font-bold" for="correo">Correo de contacto</label>
                <input type="text" pInputText class="w-full text-sm" formControlName="correo" id="correo">
            </div>

            <div class="field">
                <label class="text-sm font-bold" for="telefono">Télefono de contacto</label>
                <input type="text" pInputText class="w-full text-sm" formControlName="telefono" id="telefono">
            </div>

            <div class="field">
                <label class="text-sm font-bold" for="titulo">Título del footer</label>
                <input type="text" pInputText class="w-full text-sm" formControlName="titulo" id="titulo">
            </div>

            <div class="field">
                <label class="text-sm font-bold" for="descripcion">Descripción del footer</label>
                <input type="text" pInputText class="w-full text-sm" formControlName="descripcion" id="descripcion">
            </div>

            <div class="field">
                <label class="text-sm font-bold" for="descripcionizq">Descripción izquierda del footer</label>
                <input type="text" pInputText class="w-full text-sm" formControlName="descripcionizq" id="descripcionizq">
            </div>

            <div class="field">
                <label class="text-sm font-bold" for="copyright">Copyright del footer</label>
                <input type="text" pInputText class="w-full text-sm" formControlName="copyright" id="copyright">
            </div>

            <p-button  styleClass="w-full" label="Guardar Cambios" (onClick)="guardarCambios()"/>
        </form>
    </p-accordionTab>
</p-accordion>